@mixin drawCircles($circleName, $color, $secondaryColor, $text){
  ##{$circleName}--circle {
    display: inline-block;
    position: relative;
    height: 250px;
    svg {
      margin-left: 40px;
      position: relative;
      &:after{
        content: "TEST";
        position: absolute;
        display: block;
        color: #ccc;
        border: 2px solid black;
        width: 50px;
        height: 50px;
      }
    }
    & > text {
      font-size: 1.3em;
      text-align: center;
      margin-top: -100px;
      position: absolute;
      color: white;
      border-radius: 4px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      background: rgb(202, 60, 60);
      padding: 10px;
    }
    .devices--wrapper--#{$circleName} {
      height: 50px;
      line-height: 20px;
      border-bottom: 3px solid #f4f4f4;
      width: 320px;
      position: absolute;
      bottom: 0;
      &:after {
        content:  $text;
        display: block;
        color: #ccc;
        margin-top: -170px;
        font-size: 1.2em;
        font-weight: bold;
        margin-left: 15px;
        width: 250px;
        text-align: center;
      }
    }

    .smartphone--block--#{$circleName} {
      right: 0;
      top: 0;
      position: absolute;
      width: 180px;
      text-align: right;
    }

    .device-smartphone--#{$circleName} {
      font-weight: bold;
      color: $color;
      display: block;
    }

    .smartphone--percent--#{$circleName} {
      display: inline-block;
      font-weight: bold;
      text-align: left;
      color: #444;
    }

    .smartphone--totalAmount--#{$circleName} {
      font-weight: bold;
      color: #ccc;
      padding-left: 5px;
    }

    .device--tablet--#{$circleName} {
      color: $secondaryColor;
      padding-left: 5px;
      font-weight: bold;
      display: block;
    }

    .tablet--percent--#{$circleName} {
      display: inline-block;
      font-weight: bold;
      margin-left: 5px;
      color: #444;
    }

    .tablet--totalAmount--#{$circleName} {
      font-weight: bold;
      color: #ccc;
      padding-left: 5px;
    }
  }
}
